@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color-scheme: dark;
}

.tittle, .planet-tittle, .fact-value{
  font-family: 'Antonio', sans-serif;
  font-weight: 500;
}

.nav-link, .source, .button {
  font-family: 'League Spartan', sans-serif;
  font-weight: 700;
}

.content, .fact-name{
  font-family: 'League Spartan', sans-serif;
  font-weight: 400;
}

.tittle{
  letter-spacing: -1.05px;
}

.nav-link {
  line-height: 25px;
  letter-spacing: 1px;
}

.button{
  letter-spacing: 1.92857px;
}

.fact-name{
  letter-spacing: 0.727273px;
}

.fact-value{
  letter-spacing: -0.9px;
}

.second-image {
  width: 30%;
  height: auto;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  max-width: 100%;
}

.image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

